:root {
  --bg-color: hsl(49, 37%, 94%);
  --typewriterSpeed: 6s;
}

body {
  margin: 0;
  /* The reason we use this font-family is that each letters in this front family has the same width. */
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;

/*  // If you don't have the display: grid, place-content and text-align version in the body,
  // you can still control the h1 width (default is full width 100%) by using the max-content value.
  outline: 2px solid red;
  width: max-content;*/

}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);

  /* the forwards keyword means it doesn't go back to the start position */
  /*animation: typewriter 1s ease forwards; */

  /* steps will make it jump every characters (we got total 24 characters), Very nice effect, didn't know we can do that.*/
  /* Give a 1s delay make the type writer (blink effect) more mirroring to a 'ready to type' effect. */
  animation: typewriter var(--typewriterSpeed) steps(24) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: black;
  animation:
    typewriter var(--typewriterSpeed) steps(24) 1s forwards,
    blink 500ms steps(24) infinite; /* I found it can go without step(24), but with the step(24) here it the jumping on the blink effect is more prominent */
}

@keyframes typewriter {
  /* If your start position is the same as your initial value of the page layout, then you don't need to have a from in the keyframe */
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.subtitle {
  color: hsla(0, 0%, 0%, 0.7);
  font-size: 2rem;
  font-weight: 400;
}
